@model Nhom8_Web.Models.ChiTietDonHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DichVuObj.TenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVuObj.TenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonHangObj.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHangObj.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPhamObj.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPhamObj.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
