
@{
    ViewBag.Title = "Trang_chi_tiet_blog_1";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">

        <!--====== Detail Post ======-->
        <div class="detail-post">
            <div class="bp-detail">
                <div class="bp-detail__thumbnail">

                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184600654287741042/image.png?ex=658c9054&is=657a1b54&hm=7064b1883d0b01c7ffbb32c2de7dbc788827964a1fd6942939222ee120953682&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                    </div>
                    <!--====== End - Image Code ======-->
                </div>
                <div class="bp-detail__info-wrap">
                    <div class="bp-detail__stat">

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__publish-date">

                                <a href="@Url.Action("Trang_blog", "Home")">

                                    <span>1/12/2023</span>
                                </a>
                            </span>
                        </span>

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__author">

                                <a href="@Url.Action("Trang_blog", "Home")l">Ngoc Yen</a>
                            </span>
                        </span>

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__category">

                                <a href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                <a href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                <a href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                            </span>
                        </span>
                    </div>

                    <span class="bp-detail__h1">

                        <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">Một số bệnh truyền nhiễm do Virus nguy hiểm trên chó</a>
                    </span>
                    <div class="blog-t-w">

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                    </div>
                    <p class="bp-detail__p"><b> Bệnh dại </b>
                    <p class="bp-detail__p">Đây là một bệnh không mới và là bệnh truyền lây giữa động vật và người. Sau hàng thập kỷ ròng rã tuyên truyền về sự nguy hiểm của bệnh dại thì giờ đây tiêm phòng dại chủ động cho vật nuôi gần như là một điều bắt buộc. Nhưng vẫn có một số địa phương không thắt chặt việc tiêm phòng dẫn đến những cái chết thương tâm của hàng chục người. </p>
                    <p class="bp-detail__p"> Mùa hè là mùa của bệnh dại, những chú chó ngoan ngoãn sẽ trở nên điên cuồng, mất lý trí hoặc trở nên sợ hãi mọi thứ một cách quá mức và cuối cùng chúng sẽ phát bệnh mà chết. </p>
                    <p class="bp-detail__p"> Vì vậy, mỗi năm một lần hãy tiêm phòng dại cho cún cưng của bạn, để bảo vệ cho chúng, cho bạn và cho chính người thân của bạn khỏi bệnh dại.</p>
                    <p class="bp-detail__p"><b>Tiêu chảy do Parvovirus </b> </p>
                    <p class="bp-detail__p">Tên khoa học của bệnh là Canine Parvovirus (CPV), nó gây ra những triệu chứng cấp tính trên đường tiêu hóa của chó như bỏ ăn, nôn mửa, tiêu chảy có lẫn máu,…</p>
                    <p class="bp-detail__p">Chó từ 6-20 tuần tuổi là dễ bị nhiễm bệnh nhất, đôi khi cũng sẽ thấy ở những chú chó lớn tuổi hơn. Bệnh có biến thể gây viêm cơ tim, nếu mắc phải biến thể mạnh này thì chó của bạn có nguy cơ tử vong rất cao.</p>
                    <p class="bp-detail__p">Bệnh lây lan nhanh qua sự tiếp xúc trực tiếp giữa chó bình thường và chó có mầm bệnh, hoặc gián tiếp qua phân, đồ ăn thức uống dùng chung…</p>
                    <p class="bp-detail__p"><b>Bệnh Care ở chó </b></p>
                    <p class="bp-detail__p">Bệnh còn có tên là Canine Distemper, thường xảy ra với chó 3-6 tháng tuổi. Bệnh lây lan nhanh và tỉ lệ chết cao. </p>
                    <p class="bp-detail__p">Triệu chứng của bệnh ập đến rất nhanh khiến cún cưng của bạn mau chóng suy kiệt. Bệnh sẽ làm cho chúng thấy hô hấp khó khăn, sốt rât cao, viêm ruột cấp tính, và tệ hơn có thể có triệu chứng về thần kinh. </p>
                    <p class="bp-detail__p"><b>Bệnh ho cũi chó</b></p>
                    <p class="bp-detail__p">Bệnh ho cũi chó là một thuật ngữ thường được sử dụng để mô tả một phức hợp nhiễm trùng đường hô hấp, cả do virus và vi khuẩn, gây viêm thanh quản và khí quản của chó. Đó là một dạng viêm phế quản và tương tự như cảm lạnh ở người.                            </p>
                    <p class="bp-detail__p">Bệnh khởi phát do virus cúm Canine Parainfluenza, và vi khuẩn Bordetella làm cho bệnh trở nên trầm trọng hơn. Bệnh có thể không gây chết nhưng những triệu chứng dai dẳng trên đường hô hấp sẽ khiến chúng suy kiệt dần, và có thể dẫn đến kế phát các bệnh gây chết khác.</p>
                    <p class="bp-detail__p">Những chú chó thường xuyên tiếp xúc với những đồng loại khác đặc biệt ở khu vực thông gió kém (như nhốt chung cũi chật chội), sẽ dễ nhiễm bệnh. Ngoài ra, những chú chó non chưa tiêm phòng đầy đủ cũng có khả năng mắc bệnh cao hơn. </p>

                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://cdn.discordapp.com/attachments/880343014193647666/1184599943252557935/cat-clinic-london-catcuddles.png?ex=658c8fab&is=657a1aab&hm=61506e477488699709c3945d5515220bf3586d8d0fe9fdeb7e1fe77a21d1ea53&" alt="">
                    </div>
                    <!--====== End - Image Code ======-->
                    <p class="bp-detail__p"><b>Bệnh do Coronavirus trên chó</b></p>
                    <p class="bp-detail__p">Coronavirus có rất nhiều chủng, chúng thường gây các triệu chứng cấp tính trên đường tiêu hóa ở chó, tương tự với bệnh Parvo nhưng ở mức độ nhẹ hơn. </p>
                    <p class="bp-detail__p">Thật may mắn, chủng Coronavirus trên chó khác với chủng Coronavirus gây bệnh Covid-19 trên người, và chúng hoàn toàn không lây sang người. </p>
                    <p class="bp-detail__p">Khi mắc đơn lẻ Coronavirus thì tỉ lệ chết khá thấp, nhưng khi cún mắc ký sinh trùng thì tiên lượng lại rất xấu. Đặc biệt nếu cún mắc kép Corona và Parvo thì tỉ lệ chết lên đến 99%. </p>
                    <p class="bp-detail__p"><b>Bệnh viêm gan truyền nhiễm ở chó</b></p>
                    <p class="bp-detail__p">Bệnh do Adenovirus gây ra, lây lan qua phân, nước tiểu và nước dãi của chó có mầm bệnh. Ban đầu chó sẽ biếng ăn, ủ rũ, sốt và mắt đỏ. Khi bệnh nặng hơn có thể thấy bụng phình to, có triệu chứng đông máu. Kể cả khi khỏi bệnh vẫn sẽ để lại di chứng trên thận, sưng mắt, đục thủy tinh thể hay còn gọi là “Blue eyes”. </p>
                    <p class="bp-detail__p"><b>Phòng ngừa các bệnh do virus gây ra trên chó  </b></p>
                    <p class="bp-detail__p">Các bệnh do virus gây ra hầu hết đều có tính lây lan rất nhanh và có độ nguy hiểm khác nhau. Việc khó khăn trong điều trị những bệnh này là chúng không có thuốc đặc hiệu để điều trị dứt điểm. Vì vậy việc tốt nhất mà chủ nuôi có thể làm là tiêm vaccine phòng bệnh cho cún cưng của mình càng sớm càng tốt. </p>
                    <p class="bp-detail__p"><b>Lịch tiêm phòng vaccine cho cún cưng hiệu quả </b></p>
                    <p class="bp-detail__p">Tuy tiêm phòng chưa thể bảo hộ đạt hiệu quả 100%, nhưng cũng sẽ giúp những chú nếu có mắc bệnh sau tiêm phòng thì bệnh cũng rất nhẹ. </p>
                    <p class="bp-detail__p">Và số lượng mũi tiêm đủ để phòng bệnh là 3 mũi tiêm hỗn hợp bệnh, thêm 1 mũi tiêm dại. Sau đó nhắc lại hằng năm với 1 mũi tiêm hỗn hợp bệnh và 1 mũi tiêm dại. </p>
                    <p class="bp-detail__p">Các bạn có thể tham khảo lịch tiêm phòng tại dịch vụ của PETAMIN - Vitamin for your pet sau: </p>
                    <p class="bp-detail__p">Mũi 1</p>
                    <div class="bp-detail__p">
                        <ul>
                            <li>Thời gian tiêm: 6-8 tuần tuổi</li>
                            <li>Mũi tiêm: 5 bệnh Canine Distemper (Care), Parvovirus, Adenovirus Type 1 (Viêm gan truyền nhiễm), Adenovirus Type 2 (Hô hấp phức hợp), Parainfluenza (họ cũi chó)</li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">Mũi 2</p>
                    <div class="bp-detail__p">
                        <ul>
                            <li>Thời gian tiêm: 10-12 tuần tuổi</li>
                            <li>Mũi tiêm: 7 bệnh Canine Distemper (Care), Parvovirus, Adenovirus Type 1 (Viêm gan truyền nhiễm), Adenovirus Type 2 (Hô hấp phức hợp), Parainfluenza (ho cũi chó), Leptospira, Corona</li>
                        </ul>
                    </div>
                    <p class="bp-detail__p"> Mũi 3 </p>
                    <div class="bp-detail__p">
                        <ul>
                            <li>Thời gian tiêm: 14-16 tuần tuổi</li>
                            <li>Mũi tiêm: 7 bệnh </li>
                        </ul>
                    </div>
                    <p class="bp-detail__p"><strong>Lưu ý:</strong> Nếu không tiêm đúng theo khoảng thời gian trên, mỗi mũi tiêm phải cách nhau ít nhất 21 ngày và không qua 28 ngày. Tiêm phòng dại cho chó:</p>
                    <p class="bp-detail__p"> Tiêm phòng dại cho chó: </p>
                    <div class="bp-detail__p">
                        <ul>
                            <li>Khoảng 1 năm tuổi </li>
                            <li>Tiêm phòng dại không liên quan đến các mũi tiêm phòng trước đó, nhưng cũng không nên tiêm trùng nhau </li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">
                        Mọi thắc mắc vui lòng liên hệ hotline PETAMIN 0123 456 789 để được tư vấn miễn phí !
                        <div class="post-center-wrap">
                            <ul class="bp-detail__social-list">
                                <li>

                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>

                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>

                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>

                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a>
                                </li>
                                <li>

                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="gl-l-r bp-detail__postnp">
                            <div>

                                <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">Trước đó</a>
                            </div>
                            <div>

                                <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">Tiếp tục</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Detail Post ======-->
    <div class="u-s-p-b-60">
        <div class="d-meta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-meta__comment-arena">

                            <span class="d-meta__text u-s-m-b-36">Bình luận về bài viết</span>
                            <div class="d-meta__comments u-s-m-b-30">
                                <ol>
                                    <li>
                                        <!--====== Comment ======-->
                                        <div class="d-meta__p-comment">
                                            <div class="p-comment__wrap1">
                                                <div class="aspect aspect--square p-comment__img-wrap">

                                                    <img src="https://media.discordapp.net/attachments/880343014193647666/1184600979224658111/dfcea7989195d3273c2bcb367fca0a83.png?ex=658c90a2&is=657a1ba2&hm=4afe625dc538f5854e9ddfc2a25c7a3a8f3ab81e8cd6d9eeab3aeed96d078d3c&=&format=webp&quality=lossless&width=100&height=100" alt="">
                                                </div>
                                            </div>
                                            <div class="p-comment__wrap2">

                                                <span class="p-comment__author">Nha Le</span>

                                                <span class="p-comment__timestamp">

                                                    <a href="#">

                                                        <span>10/12/2023 lúc 9h</span>
                                                    </a>
                                                </span>
                                                <p class="p-comment__paragraph">Sốp ra thêm nhiều bài nữa nha</p>

                                                <a class="p-comment__reply" href="#">Reply</a>
                                            </div>
                                        </div>
                                        <!--====== End - Comment ======-->
                                        <!--====== Comment ======-->
                                        <div class="d-meta__p-comment">
                                            <div class="p-comment__wrap1">
                                                <div class="aspect aspect--square p-comment__img-wrap">

                                                    <img src="https://media.discordapp.net/attachments/880343014193647666/1184600979224658111/dfcea7989195d3273c2bcb367fca0a83.png?ex=658c90a2&is=657a1ba2&hm=4afe625dc538f5854e9ddfc2a25c7a3a8f3ab81e8cd6d9eeab3aeed96d078d3c&=&format=webp&quality=lossless&width=100&height=100" alt="">
                                                </div>
                                            </div>
                                            <div class="p-comment__wrap2">

                                                <span class="p-comment__author">Ngoc Han</span>

                                                <span class="p-comment__timestamp">

                                                    <a href="#">

                                                        <span>12/12/2023 lúc 20h</span>
                                                    </a>
                                                </span>
                                                <p class="p-comment__paragraph">Bài viết hay lắm. Cảm ơn Petamin</p>

                                                <a class="p-comment__reply" href="#">Reply</a>
                                            </div>
                                        </div>
                                        <!--====== End - Comment ======-->
                            </div>
                            </li>
                            </ol>
                            </li>
                            </ol>
                            </li>
                            </ol>
                            </li>
                            </ol>
                            </li>
                            </ol>
                        </div>

                        <span class="d-meta__text-2 u-s-m-b-6">TRẢ LỜI</span>

                        <span class="d-meta__text-3 u-s-m-b-16">Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu*</span>
                        <form class="respond__form">
                            <div class="respond__group">
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="comment">BÌNH LUẬN *</label><textarea class="text-area text-area--primary-style" id="comment"></textarea>
                                </div>
                                <div>
                                    <p class="u-s-m-b-30">

                                        <label class="gl-label" for="responder-name">TÊN *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="responder-name">
                                    </p>
                                    <p class="u-s-m-b-30">

                                        <label class="gl-label" for="responder-email">EMAIL *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="responder-email">
                                    </p>
                                </div>
                                <p class="u-s-m-b-15">
                                    <input type="checkbox" id="remember" name="remember" value="Remember">
                                </p>
                                <label for="remember">Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label><br>
                            </div>
                            <div>

                                <button class="btn btn--e-brand-shadow" type="submit">PHẢN HỒI</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
        </div>
<!--====== End - App Content ======-->
