
@{
    ViewBag.Title = "Trang_chi_tiet_blog_2";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">

        <!--====== Detail Post ======-->
        <div class="detail-post">
            <div class="bp-detail">
                <div class="bp-detail__thumbnail">

                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184896414019498024/384546128_3578396762382924_3420669301741858658_n.png?ex=658da3c7&is=657b2ec7&hm=537080404795ef39ebe6352f0f205ca173c979f783b0af55ac9c9f4982fe5fb0&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                    </div>
                    <!--====== End - Image Code ======-->
                </div>
                <div class="bp-detail__info-wrap">
                    <div class="bp-detail__stat">

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__publish-date">

                                <a href="@Url.Action("Trang_blog", "Home")">

                                    <span>25/11/2023</span>
                                </a>
                            </span>
                        </span>

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__author">

                                <a href="@Url.Action("Trang_blog", "Home")"></a>
                            </span>
                        </span>

                        <span class="bp-detail__stat-wrap">

                            <span class="bp-detail__category">

                                <a href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                <a href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                <a href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                            </span>
                        </span>
                    </div>

                    <span class="bp-detail__h1">

                        <a href="@Url.Action("Trang_chi_tiet_blog_2", "Home")">Các bệnh tiêu hoá mà Chó Mèo thường gặp phải</a>
                    </span>
                    <div class="blog-t-w">

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                    </div>
                    <p class="bp-detail__p">Các bệnh về tiêu hóa là vấn đề thường gặp ở thú cưng, đặc biệt là một số giống chó mèo lai có sức đề kháng yếu. Nếu bệnh không quá nghiêm trọng bạn hoàn toàn có thể tự xử lý ở nhà bằng các phương pháp đơn giản. Tuy nhiên, cũng có một số trường hợp do không được phát hiện và xử lý kịp thời mà cần điều trị phức tạp hơn.</p>
                    <p class="bp-detail__p"><b> Triệu chứng cho thấy chó mèo mắc các bệnh tiêu hóa </b>
                    <p class="bp-detail__p">Các vấn đề về tiêu hóa ảnh hưởng đến dạ dày và ruột của chó mèo. Các căn bệnh này dẫn đến mất nước, mất cân bằng axit-bazơ, điện giải, làm giảm khả năng tiêu hóa, hấp thụ thức ăn của chúng. Từ đó khiến thú cưng chán ăn, bỏ ăn, lâu dần dẫn đến suy dinh dưỡng. Các triệu chứng chó thấy chó mèo đã mắc các bệnh về tiêu hóa có thể kể đến như thay đổi khẩu vị, xuất hiện nôn mửa, tiêu chảy hoặc táo bón… </p>
                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184896414019498024/384546128_3578396762382924_3420669301741858658_n.png?ex=658da3c7&is=657b2ec7&hm=537080404795ef39ebe6352f0f205ca173c979f783b0af55ac9c9f4982fe5fb0&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                    </div>
                    <!--====== End - Image Code ======-->
                    <p class="bp-detail__p"><b>Nguyên nhân gây ra các bệnh tiêu hóa ở chó mèo</b></p>
                    <p class="bp-detail__p">Để có phương pháp chữa trị bệnh hợp lý thì cần tìm ra nguyên căn của bệnh. Có nhiều nguyên nhân dẫn đến bệnh tiêu hóa ở chó mèo. Các nguyên nhân phổ biến có thể kể đến như:</p>
                    <div class="bp-detail__p">
                        <ul>
                            <li><b>Di truyền từ cha mẹ:</b> Bệnh về tiêu hóa cũng có thể lây nhiễm qua đường di truyền. Nếu trong gia phả của thú cưng có trường hợp mắc các bệnh về tiêu hóa, nhất là thể mãn tính thì khả năng cao đời con cháu cũng bị.</li>
                            <li><b>Chế độ dinh dưỡng không phù hợp:</b> Không phải giống chó mèo nào cũng có nhu cầu dinh dưỡng giống nhau. Bạn nên tìm hiểu và cân nhắc thực đơn phù hợp với từng em thú cưng cụ thể.</li>
                            <li><b>Bị nhiễm khuẩn trong thức ăn:</b> Thức ăn không được đảm bảo vệ sinh sẽ có nhiều vi khuẩn, ký sinh trùng không tốt cho hệ tiêu hóa của chó mèo. Nếu thú cưng ăn phải thực phẩm bị nhiễm khuẩn thì khả năng bị các bệnh tiêu hóa cũng rất cao.</li>
                            <li><b>Không được chăm sóc tốt khi ở trong bụng mẹ:</b> Quá trình chó, mèo mẹ mang thai nhưng không được chăm sóc tốt cũng sẽ dẫn đến các vấn đề bệnh lý cho chó, mèo con. Bệnh về đường tiêu hóa là một trong số đó.</li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">
                        <b> Các bệnh tiêu hóa thường gặp ở chó mèo</b>
                        <div class="bp-detail__p">
                            <ul>
                                <li><b>Bệnh viêm dạ dày ruột cấp tính</b></li>
                            </ul>
                        </div>
                    <p class="bp-detail__p">Bệnh viêm dạ dày ruột cấp tính là một căn bệnh nguy hiểm ở chó mèo. Nguyên nhân gây bệnh là do ăn thực phẩm ôi thiu hoặc hư hỏng, ăn thực vật độc hại… Chó mèo nuốt phải dị vật cũng có thể khiến dạ dày bị tổn thương và bị viêm. Bệnh khiến thú cưng khó hấp thụ thức ăn, bị nôn mửa, chán ăn, bỏ ăn...</p>
                    <div class="bp-detail__p">
                        <ul>
                            <li><b>Bệnh viêm đại tràng</b></li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">Bệnh viêm đại tràng thường xuất hiện ở mèo dưới 5 tuổi. Biểu hiện của bệnh là phân có thể chứa chất nhầy và máu từ đại tràng. Nguyên nhân có thể  do khối u, thay đổi thực phẩm, dị ứng (bao gồm cả thực phẩm), nuốt dị vật. Viêm đại tràng khiến thú cưng gặp khó khăn trong vấn đề đi đại tiện, không đi được hoặc bị đau đớn khi đi. </p>
                    <div class="bp-detail__p">
                        <ul>
                            <li><b>Bệnh tiêu chảy</b></li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">Tiêu chảy là bệnh thường gặp ở thú cưng. Bệnh xuất hiện có thể do nhiễm trùng, thức ăn không phù hợp, thực phẩm không đảm bảo an toàn hoặc do rối loạn các cơ quan chức năng. Bệnh tiêu chảy khiến chó mèo không ngừng đi vệ sinh, cảm giác chán ăn, mệt mỏi, ủ rũ...</p>
                    <div class="bp-detail__p">
                        <ul>
                            <li><b>Bệnh táo bón</b></li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">Bệnh táo bón xảy ra khi chó mèo bị mất nước, không đủ chất xơ, ăn phải nhiều lông không tiêu hóa được… Một số trường hợp lại là biểu hiện của bệnh lý nghiêm trọng khác như bệnh tủy sống, rối loạn thần kinh ruột lớn, rối loạn chuyển hóa hoặc nội tiết… Đối tượng dễ bị táo bón nhất là những bạn chó mèo béo phì.</p>

                    <div class="bp-detail__p">
                        <ul>
                            <li><b>Bệnh viêm ruột no</b></li>
                        </ul>
                    </div>
                    <p class="bp-detail__p">Cũng như bệnh viêm dạ dày, nguyên nhân gây ra viêm ruột non ở chó mèo là do ăn thực phẩm ôi thiu hoặc hư hỏng, ăn thực vật độc hại, nuốt phải dị vật… Bệnh làm suy yếu khả năng hấp thụ chất dinh dưỡng dẫn đến tiêu chảy kéo dài, giảm cân và mất cảm giác ngon miệng ở mèo và chán ăn.</p>
                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184909468073476157/385550856_253648747502483_4547959963139322544_n.png?ex=658dafef&is=657b3aef&hm=5a4521e4237581b2c118d3072671ce39a8fc3bcba302f2f52229058f4b4ea669&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                    </div>
                    <!--====== End - Image Code ======-->
                    <p class="bp-detail__p"><b>Giải pháp chữa các bệnh tiêu hóa ở chó mèo</b></p>
                    <p class="bp-detail__p">Bệnh về đường tiêu hóa là các bệnh thường gặp ở chó mèo. Tùy thuộc vào nguyên nhân gây bệnh mà có cách phòng ngừa, chữa trị khác nhau. Nếu là vấn đề do di truyền hoặc do vấn đề chăm sóc lúc còn trong thai thì rất khó can thiệp. Còn các nguyên nhân khác thì bạn có thể phòng ngừa bằng một số cách:</p>
                    <div class="bp-detail__p">
                        <ol>
                            <b>
                            <li>Sử dụng thuốc bổ trợ Butakam cho chó mèo</li>
                            <li>Khám sức khỏe định kỳ</li>
                            <li>Thực đơn cho thú cưng phù hợp</li>
                            <div class="post-center-wrap">
                                <ul class="bp-detail__social-list">
                                    <li>

                                        <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>

                                        <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>

                                        <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>

                                        <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                    <li>

                                        <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="gl-l-r bp-detail__postnp">
                                <div>

                                    <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">Trước đó</a>
                                </div>
                                <div>

                                    <a href="@Url.Action("Trang_chi_tiet_blog 3", "Home")">Tiếp tục</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Detail Post ======-->
        <div class="u-s-p-b-60">
            <div class="d-meta">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-meta__comment-arena">

                                <span class="d-meta__text u-s-m-b-36">Bình luận về bài viết</span>
                                <div class="d-meta__comments u-s-m-b-30">
                                    <ol>
                                        <li>
                                            <!--====== Comment ======-->
                                            <div class="d-meta__p-comment">
                                                <div class="p-comment__wrap1">
                                                    <div class="aspect aspect--square p-comment__img-wrap">

                                                        <img src="images/blog/avatar.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="p-comment__wrap2">

                                                    <span class="p-comment__author">Ha My</span>

                                                    <span class="p-comment__timestamp">

                                                        <a href="#">

                                                            <span>22/11/2023 lúc 13h</span>
                                                        </a>
                                                    </span>
                                                    <p class="p-comment__paragraph">Cảm ơn sốp nhé</p>

                                                    <a class="p-comment__reply" href="#">Reply</a>
                                                </div>
                                            </div>
                                            <!--====== End - Comment ======-->
                                            <!--====== Comment ======-->
                                            <div class="d-meta__p-comment">
                                                <div class="p-comment__wrap1">
                                                    <div class="aspect aspect--square p-comment__img-wrap">

                                                        <img src="images/blog/avatar.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="p-comment__wrap2">

                                                    <span class="p-comment__author">Kieu My</span>

                                                    <span class="p-comment__timestamp">

                                                        <a href="#">

                                                            <span>29/11/2023 lúc 10h</span>
                                                        </a>
                                                    </span>
                                                    <p class="p-comment__paragraph">10 điểm dành cho shop</p>

                                                    <a class="p-comment__reply" href="#">Reply</a>
                                                </div>
                                            </div>
                                            <!--====== End - Comment ======-->
                                            <!--====== Comment ======-->
                                            <div class="d-meta__p-comment">
                                                <div class="p-comment__wrap1">
                                                    <div class="aspect aspect--square p-comment__img-wrap">

                                                        <img src="images/blog/avatar.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="p-comment__wrap2">

                                                    <span class="p-comment__author">My Hang</span>

                                                    <span class="p-comment__timestamp">

                                                        <a href="#">

                                                            <span>30/11/2023 lúc 22h</span>
                                                        </a>
                                                    </span>
                                                    <p class="p-comment__paragraph">Em muốn tư vấn thêm dịch vụ bên mình ạ?</p>

                                                    <a class="p-comment__reply" href="#">Reply</a>
                                                </div>
                                            </div>
                                            <!--====== End - Comment ======-->

                                </div>
                                </li>
                                </ol>
                                </li>
                                </ol>
                                </li>
                                </ol>
                                </li>
                                </ol>
                                </li>
                                </ol>
                            </div>

                            <span class="d-meta__text-2 u-s-m-b-6">TRẢ LỜI</span>

                            <span class="d-meta__text-3 u-s-m-b-16">Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu*</span>
                            <form class="respond__form">
                                <div class="respond__group">
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="comment">BÌNH LUẬN *</label><textarea class="text-area text-area--primary-style" id="comment"></textarea>
                                    </div>
                                    <div>
                                        <p class="u-s-m-b-30">

                                            <label class="gl-label" for="responder-name">TÊN *</label>

                                            <input class="input-text input-text--primary-style" type="text" id="responder-name">
                                        </p>
                                        <p class="u-s-m-b-30">

                                            <label class="gl-label" for="responder-email">EMAIL *</label>

                                            <input class="input-text input-text--primary-style" type="text" id="responder-email">
                                        </p>
                                    </div>
                                    <p class="u-s-m-b-15">
                                        <input type="checkbox" id="remember" name="remember" value="Remember">
                                    </p>
                                    <label for="remember">Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label><br>
                                </div>
                                <div>

                                    <button class="btn btn--e-brand-shadow" type="submit">PHẢN HỒI</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->
