
@{
    ViewBag.Title = "Trang_blog";
}

<!--====== App Content ======-->
<div class="app-content">
    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">
        <div style="float: left;"></div>
        <div class="container">
            <div class="blog-m">
                <div class="row blog-m-init">
                    <div class="blog-m__element">
                        <div class="bp-mini bp-mini--img">
                            <div class="bp-mini__thumbnail">

                                <!--====== Image Code ======-->
                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">

                                    <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184600654287741042/image.png?ex=658c9054&is=657a1b54&hm=7064b1883d0b01c7ffbb32c2de7dbc788827964a1fd6942939222ee120953682&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                                </a>
                                <!--====== End - Image Code ======-->
                            </div>
                            <div class="bp-mini__content">
                                <div class="bp-mini__stat">

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__publish-date">

                                            <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">

                                                <span>1/12/2023</span>
                                            </a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__preposition">By</span>

                                        <span class="bp-mini__author">

                                            <a href="#">Ngoc Yen</a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat">

                                        <span class="bp-mini__comment">

                                            <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">
                                                <i class="far fa-comments u-s-m-r-4"></i>

                                                <span>2</span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="bp-mini__category">

                                    <a href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                                </div>

                                <span class="bp-mini__h1">

                                    <a href="@Url.Action("Trang_chi_tiet_blog_1", "Home")">Một số bệnh truyền nhiễm do Virus nguy hiểm trên chó</a>
                                </span>
                                <p class="bp-mini__p">Mùa hè tới là thời điểm cún cưng rất dễ mắc các bệnh truyền nhiễm do virus gây ra. Vì vậy chúng ta không nên chủ quan mà cần chú ý...</p>
                                <div class="blog-t-w">

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-m__element">
                        <div class="bp-mini bp-mini--img">
                            <div class="bp-mini__thumbnail">
                                <!--====== Gallery Code ======-->
                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="@Url.Action("Trang_chi_tiet_blog_2", "Home")">

                                    <img class="aspect__img" src="https://media.discordapp.net/attachments/880343014193647666/1184896414019498024/384546128_3578396762382924_3420669301741858658_n.png?ex=658da3c7&is=657b2ec7&hm=537080404795ef39ebe6352f0f205ca173c979f783b0af55ac9c9f4982fe5fb0&=&format=webp&quality=lossless&width=1191&height=670" alt="">
                                </a>
                                <!--====== End - Gallery Code ======-->
                            </div>
                            <div class="bp-mini__content">
                                <div class="bp-mini__stat">
                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__publish-date">

                                            <a href="@Url.Action("Trang_chi_tiet_blog_2", "Home")">

                                                <span>25/11/2023</span>
                                            </a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__preposition">By</span>

                                        <span class="bp-mini__author">

                                            <a href="#">Ngoc Yen</a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat">

                                        <span class="bp-mini__comment">

                                            <a href="@Url.Action("Trang_chi_tiet_blog_2", "Home")">
                                                <i class="far fa-comments u-s-m-r-4"></i>

                                                <span>3</span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="bp-mini__category">

                                    <a href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>
                                </div>

                                <span class="bp-mini__h1">

                                    <a href="@Url.Action("Trang_chi_tiet_blog_2", "Home")">Các bệnh tiêu hoá mà Chó Mèo thường gặp phải</a>
                                </span>
                                <p class="bp-mini__p">Các bệnh về tiêu hóa là vấn đề thường gặp ở thú cưng, đặc biệt là một số giống chó mèo lai có sức đề kháng yếu. Các sen lưu ý chú ý tới thú cưng.</p>
                                <div class="blog-t-w">

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-m__element">
                        <div class="bp-mini bp-mini--img">
                            <div class="bp-mini__thumbnail">
                                <!--====== Image Code ======-->
                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="@Url.Action("Trang_chi_tiet_blog_3", "Home")">

                                    <img class="aspect__img" src="https://cdn.discordapp.com/attachments/880343014193647666/1184896720228843691/406524678_288118660387733_6723192479888226864_n.png?ex=658da410&is=657b2f10&hm=008f121f09dce9203a48ffba89b59e32323aefaa00bbc89d2087db63171ce29f&" alt="">
                                </a>
                                <!--====== End - Image Code ======-->
                            </div>
                            <div class="bp-mini__content">
                                <div class="bp-mini__stat">

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__publish-date">

                                            <a href="@Url.Action("Trang_chi_tiet_blog 3", "Home")">

                                                <span>22/11/2023</span>
                                            </a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__preposition">By</span>

                                        <span class="bp-mini__author">

                                            <a href="#">Ngoc Yen</a>
                                        </span>
                                    </span>

                                    <span class="bp-mini__stat">

                                        <span class="bp-mini__comment">

                                            <a href="@Url.Action("Trang_chi_tiet_blog 3", "Home")">
                                                <i class="far fa-comments u-s-m-r-4"></i>

                                                <span>1</span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="bp-mini__category">

                                    <a href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                                </div>

                                <span class="bp-mini__h1">

                                    <a href="@Url.Action("Trang_chi_tiet_blog 3", "Home")">Ký sinh trùng máu ở mức: Nguy hiểm nằm ngay trước mắt</a>
                                </span>
                                <p class="bp-mini__p">Ký sinh trùng máu ở thú cưng là bệnh cực kỳ nguy hiểm mà đến bây giờ vẫn khá ít chủ nuôi nhận thức được ngay từ đầu</p>
                                <div class="blog-t-w">

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Sức khoẻ</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Tin tức</a>

                                    <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="@Url.Action("Trang_blog", "Home")">Dịch vụ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-m__element">
                    <div class="bp-mini">
                        <div class="bp-mini__thumbnail">
                            <nav class="post-center-wrap u-s-p-y-15">

                                <!--====== Pagination ======-->
                                <ul class="blog-pg">
                                    <li class="blog-pg--active">

                                        <a href="@Url.Action("Trang_blog", "Home")">1</a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("Trang_blog", "Home")">2</a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("Trang_blog", "Home")">3</a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("Trang_blog", "Home")">4</a>
                                    </li>
                                    <li>

                                        <a class="fas fa-angle-right" href="@Url.Action("Trang_blog", "Home")"></a>
                                    </li>
                                </ul>
                                <!--====== End - Pagination ======-->
                            </nav>
                        </div>
                    </div>

                    <!--====== End - Section 1 ======-->
                </div>
                <!--====== End - App Content ======-->
