
@{
    ViewBag.Title = "Trang_chi_tiet_dich_vu_01";
}

<!--====== Nội dung trang chi tiết sản phẩm ======-->
<div class="app-content">

    <!--====== Hình ảnh và một số thông tin DV ======-->
    <div class="u-s-p-t-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <!--====== Đường dẫn sản phẩm ======-->
                    <div class="pd-breadcrumb u-s-m-b-30">
                        <ul class="pd-breadcrumb__list">
                            <li class="has-separator">

                                <a href="@Url.Action("index", "Home")">Trang chủ</a>
                            </li>
                            <li class="has-separator">

                                <a href="@Url.Action("Trang_dich_vu", "Home")">Dịch vụ</a>
                            </li>
                            <li class="has-separator">

                                <a href="@Url.Action("Trang_dich_vu", "Home")">Tiêm phòng</a>
                            </li>
                            <li class="has-separator">

                                <a href="@Url.Action("Trang_chi_tiet_dich_vu_01", "Home")">Tiêm phòng 7 mũi trên chó </a>
                            </li>
                        </ul>
                    </div>
                    <!--Kết thúc đường dẫn-->
                    <!--====== Chi tiết ảnh + giá ======-->
                    <div class="pd u-s-m-b-30">
                        <div class="slider-fouc pd-wrap">
                            <div id="pd-o-initiate">
                                <div class="pd-o-img-wrap"
                                     data-src="https://media.discordapp.net/attachments/1184438786227175427/1185117351985819648/tiem-vaccine-cho-cho.png?ex=658e718b&is=657bfc8b&hm=754c8440093e76047618e354d32711e9f673c9292741a37ecb34d0cf192315c7&=&format=webp&quality=lossless&width=857&height=570">

                                    <img class="u-img-fluid"
                                         src="https://media.discordapp.net/attachments/1184438786227175427/1185117351985819648/tiem-vaccine-cho-cho.png?ex=658e718b&is=657bfc8b&hm=754c8440093e76047618e354d32711e9f673c9292741a37ecb34d0cf192315c7&=&format=webp&quality=lossless&width=857&height=570"
                                         data-zoom-image="https://media.discordapp.net/attachments/1184438786227175427/1185117351985819648/tiem-vaccine-cho-cho.png?ex=658e718b&is=657bfc8b&hm=754c8440093e76047618e354d32711e9f673c9292741a37ecb34d0cf192315c7&=&format=webp&quality=lossless&width=857&height=570"
                                         alt="">
                                </div>
                                <div class="pd-o-img-wrap" data-src="https://media.discordapp.net/attachments/1184438786227175427/1185117463633997824/f6ae151e-tiem-phong-dai-cho-cho.png?ex=658e71a5&is=657bfca5&hm=4ed41d2def4bd65623bfd5f1748e3f9bed697c135abd8c985072e24357579b94&=&format=webp&quality=lossless&width=855&height=570">

                                    <img class="u-img-fluid"
                                         src="https://media.discordapp.net/attachments/1184438786227175427/1185117463633997824/f6ae151e-tiem-phong-dai-cho-cho.png?ex=658e71a5&is=657bfca5&hm=4ed41d2def4bd65623bfd5f1748e3f9bed697c135abd8c985072e24357579b94&=&format=webp&quality=lossless&width=855&height=570"
                                         data-zoom-image="https://media.discordapp.net/attachments/1184438786227175427/1185117463633997824/f6ae151e-tiem-phong-dai-cho-cho.png?ex=658e71a5&is=657bfca5&hm=4ed41d2def4bd65623bfd5f1748e3f9bed697c135abd8c985072e24357579b94&=&format=webp&quality=lossless&width=855&height=570"
                                         alt="">
                                </div>

                            </div>
                        </div>
                        <div class="u-s-m-t-15">
                            <div class="slider-fouc">
                                <div id="pd-o-thumbnail">
                                    <div>

                                        <img class="u-img-fluid"
                                             src="https://media.discordapp.net/attachments/1184438786227175427/1185117463633997824/f6ae151e-tiem-phong-dai-cho-cho.png?ex=658e71a5&is=657bfca5&hm=4ed41d2def4bd65623bfd5f1748e3f9bed697c135abd8c985072e24357579b94&=&format=webp&quality=lossless&width=855&height=570"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== Kết thúc chi tiết ảnh ======-->
                </div>
                <div class="col-lg-7">

                    <!--====== Thông tin dịch vụ ======-->
                    <div class="pd-detail">
                        <div>

                            <span class="pd-detail__name" style="font-size:30px;color:orangered;">GÓI TIÊM PHÒNG 7 MŨI TRÊN CHÓ</span>


                        </div>
                        <div>
                            <div class="pd-detail__inline">

                                <span class="pd-detail__price" style="font-size:25;color:black"><i>150.000đ</i></span>

                            </div>
                            <div class="u-s-m-b-15">
                                <div class="pd-detail__rating gl-rating-style">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                    <span class="pd-detail__review u-s-m-l-4">

                                        <a data-click-scroll="#view-review">117 Đánh giá</a>
                                    </span>
                                </div>
                            </div>
                            <div class="u-s-m-b-15">
                                <div class="pd-detail__inline">

                                    <span class="pd-detail__stock">Gói tiêm phòng luôn sẵn sàng</span>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc" style="font-size:17px;color:gray;text-align:justify">Có rất nhiều bệnh lý nguy hiểm cho chó, nếu không được tiêm phòng đầy đủ thì nguy cơ mắc bệnh tương đối cao. Bên cạnh đó, có không ít bệnh lý từ chó còn lây sang người, đe dọa tính mạng người mắc bệnh.</span>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap">
                                            <i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="@Url.Action("Yeu_thich", "Home")">Thêm vào danh sách yêu thích</a>

                                            <span class="pd-detail__click-count">(42)</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap">
                                            <i class="far fa-star u-s-m-r-6"></i>

                                            <a href="@Url.Action("Trang_dang_nhap", "Home")">
                                                Nhập mã PETYEU20 để nhận ưu đãi 20% trên tổng
                                                đơn hàng
                                            </a>
                                    </div>
                                </div>
                                <!--Gắn tag cho việc tìm kiếm dịch vụ theo mục-->
                                <div class="u-s-m-b-30">
                                    <span> Từ khóa:</span>
                                    <a href="@Url.Action("Trang_chi_tiet_dich_vu_01", "Home")">
                                        <u><i>tiêm phòng, 7 mũi, chó</i></u>
                                    </a>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>

                                            <a class="s-fb--color-hover" href="#"Z>
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a class="s-wa--color-hover" href="#">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Lựa chọn số lượng và gói dịch vụ-->
                                <span style="font-size:20px;;color:black"><b><i>Lựa chọn dịch vụ</b></span></i></span>
                                <!--Số lượng-->
                                <div class="u-s-m-b-15">
                                    <div class="u-s-m-b-30">
                                        <span style="font-size:18px;;color:black">Số lượng pet:</span>
                                        <input type="number" min="1" value="1" id="quantity"
                                               style="text-align: center;width: 70px;margin-right:10px; padding:10px;border:1px solid #ddd;border-radius: 2px;">
                                    </div>
                                    <!--Gói-->
                                    <div class="u-s-m-b-30">
                                        <span style="font-size:18px;;color:black">Gói tiêm phòng</span>
                                        <div class="box-option">
                                            <div class="box-option">
                                                <input type="radio" name="option" value="6" checked style="border-radius: 50%; border-color: #ff7f00;">
                                                <label for="option-6" style="font-size:17px;">1 tháng (1 lần tiêm) </label>
                                            </div>
                                            <input type="radio" name="option" value="6" checked style="border-radius: 50%; border-color: #ff7f00;">
                                            <label for="option-6" style="font-size:17px;">6 tháng (2 lần tiêm) </label>
                                        </div>
                                        <div class="box-option">
                                            <input type="radio" name="option" value="12" style="border-radius: 50%; border-color: #ff7f00;">
                                            <label for="option-12" style="font-size: 17px;">12 tháng (4 lần tiêm)</label>
                                        </div>
                                    </div>
                                </div>

                                <!--Thêm vào giỏ/đặt dịch vụ ngay-->
                                <div class="u-s-m-b-30">

                                    <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart"
                                       style="padding:14px; border-radius: 8px;">Thêm vào giỏ hàng</a>
                                    <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart"
                                       style="padding:14px; border-radius: 8px;">Đặt ngay</a>

                                </div>

                            </div>
                            <!--====== Hết chi tiết dịch vụ ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Tạo tab dịch vụ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-9">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="@Url.Action("Trang_chi_tiet_dich_vu_01", "Home")">MÔ TẢ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="infor" data-toggle="tab"
                                               href="@Url.Action("Trang_chi_tiet_dich_vu_03", "Home")">THÔNG TIN</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="view-review" data-toggle="tab"
                                               href="@Url.Action("Trang_chi_tiet_dich_vu_03", "Home")">ĐÁNH GIÁ<span>(132)</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab mô tả dịch vụ ======-->
                                    <div class="tab-pane fade show active" id="pd-desc">
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-20">
                                                <p>Gói Tiêm Phòng 7 Mũi Trên Chó bao gồm tiêm 7 loại bệnh sau:</p>
                                                <ol style="color:black">
                                                    <li style="font-weight:bold">Bệnh hô hấp do Calicivirus gây ra FCV (Feline Calicici Virus)</li>
                                                    <dl style="text-align:justify">Loại bệnh này do Calicivirus gây ra, triệu chứng hô hấp thường gặp là: hắt hơi, chảy dịch mũi, loét lưỡi, viêm kết mạc, giảm ăn hoặc bỏ ăn, sốt … Bệnh này lây lan do tiếp túc với dịch tiết, giọt bắn trong không khí, môi trường sống ô nhiễm…</dl>
                                                    <li style="font-weight:bold">Bệnh viêm mũi khí quản trên chó FRV (Feline Rhinotrachetis Viral) </li>
                                                    <dl style="text-align:justify">Bệnh viêm mũi khí quản do Herpesvirus gây ra, có khả năng lây cao thường lây truyền giữa cá thể mèo khi tiếp xúc qua giọt bắn, dịch hắt hơi, sử dụng chung bát thức ăn, khay vệ sinh, môi trường sống ô nhiễm …</dl>
                                                    <li style="font-weight:bold"> Bệnh suy giảm bạch cầu FPV (Feline Panleucopenia Virus)</li>
                                                    <dl style="text-align:justify">Loại bệnh này do virus Parvo gây ra kèm theo các triệu chứng như: viêm ruột. Triệu chứng cơ thể: bỏ ăn, sốt, ủ rủ, suy nhược đột ngột, tiêu chảy trầm trọng, có khi tiêu chảy có nhớt … Triệu chứng thần kinh: mất thăng bằng, run, đi loạng choạng, có khi động kinh co giật …</dl>
                                                    <li style="font-weight:bold">Bệnh viêm kết mạc mắt do Chlamydia</li>
                                                    <dl style="text-align:justify">Bệnh viêm kết mạc mắt do vi sinh nội bào Chlamydia gây ra, triệu chứng của bệnh rất ít, khó phân biệt, có các dấu hiệu như chảy nước mắt, màng mắt đỏ, có dịch nhày, viêm kết mạc nhanh …</dl>
                                                    <li style="font-weight:bold"> Bệnh ho cũi chó</li>
                                                    <dl style="text-align:justify">Bệnh ho cũi chó được biết đến là bệnh do loại virus cúm canine parainfluenza kết hợp với các loại vi khuẩn có trong đường hô hấp khác như: Bordetella bronchiseptica, mycoplasma,...</dl>
                                                    <li style="font-weight:bold">Bệnh viêm gan truyền nhiễm</li>
                                                    <dl style="text-align:justify">Bệnh viêm gan truyền nhiễm chủ yếu do virus canine adenovirus-1 (CAV-1) thâm nhập qua đường miệng, rồi đến đường tiêu hóa qua mô bào hầu hết các cơ quan cơ thể của chó.</dl>
                                                    <li style="font-weight:bold">Bệnh xoắn khuẩn Lepto (Leptospirosis)</li>
                                                    <dl style="text-align:justify">Leptospirosis là một bệnh truyền nhiễm do xoắn khuẩn leptospira interrogans xâm nhiễm qua mạch máu gây sốt, mệt mỏi, suy giảm chức năng của gan, thận khiến chó tử vong.</dl>

                                                </ol>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <img width="100%" src="https://media.discordapp.net/attachments/1184438786227175427/1185117513038704701/chich-ngua-dai-cho-cho-bao-nhieu-tien-01-1024x688.png?ex=658e71b1&is=657bfcb1&hm=f300c6e1cc21e17060a970e9f1cd6916b91d46869de85f07e500c6f047c67b51&=&format=webp&quality=lossless&width=848&height=570"></img>
                                                <p>Khi đặt dịch vụ tại <strong>PETAMIN</strong>, chúng tôi đảm bảo cho khách hàng:</p>
                                                <ul>
                                                    <li>
                                                        <i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Giá ưu đãi nhất</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Chính sách chăm sóc và bảo hành vaccine hợp lí, rõ ràng</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Đặt ngay gói tiêm phòng để nhận lịch đặt từ nhân viên</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Đa dạng hình thức thanh toán</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--kết thúc tab mô tả-->
                                    <!--Bắt đầu tab thông tin-->
                                    <div class="tab-pane" id="pd-infor">
                                        <div class="pd-tab__inf">
                                            <div class="u-s-m-b-15">
                                                <div class="pd-table">
                                                    <table max-width="100%"
                                                           cellpadding="10">
                                                        <caption><b>THÔNG TIN</b></caption>
                                                        <tr>
                                                            <th style="font-weight: bold;">Tiêu chí</th>
                                                            <th>Nội dung</th>
                                                        </tr>
                                                        <tr>
                                                            <td>7 Loại bệnh</td>
                                                            <td>Bệnh hô hấp, Bệnh viêm mũi, Bệnh suy giảm bạch cầu, Bệnh viêm kết mạc mắt, Bệnh ho cũi chó, Bệnh xoắn khuẩn Lepto (Leptospirosis), Bệnh viêm dạ dày ở chó</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Đối tượng sử dụng</td>
                                                            <td>Các giống chó</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Liều lượng</td>
                                                            <td>7 liều</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Yêu cầu</td>
                                                            <td>Chó từ 6 - 8 tuần tuổi</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== Kết thúc tab chi tiết dịch vụ======-->
                                    <!--====== Tab đánh giá dịch vụ======-->
                                    <div class="tab-pane" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>132 lượt đánh giá</h2>
                                                    </div>
                                                    <div class="gl-rating-style-2 u-s-m-b-8">
                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    </div>
                                                    <div class="u-s-m-b-8">
                                                        <h4>Để lại một đánh giá bạn nhé!</h4>
                                                    </div>

                                                    <span class="gl-text">
                                                        Chúng mình luôn cố hết sức để phục vụ
                                                        các
                                                        bạn
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f1">
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>Các đánh giá gần nhất</h2>
                                                        </div>
                                                        <div class="u-s-m-b-15">

                                                            <label for="sort-review"></label><select class="select-box select-box--primary-style"
                                                                                                     id="sort-review">
                                                                <option selected>Đánh giá: giảm dần</option>
                                                                <option>Đánh giá: tăng dần</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f1__review">
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">Long Ngoc Yen</span>

                                                                <span class="review-o__date">
                                                                    19:00 Ngày
                                                                    04/12/2023
                                                                </span>
                                                            </div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(1)</span>
                                                            </div>
                                                            <p class="review-o__text">
                                                                Dịch vụ rất tốt
                                                            </p>
                                                        </div>
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">Mai Phuong</span>

                                                                <span class="review-o__date">
                                                                    23:43 Ngày
                                                                    02/12/2023
                                                                </span>
                                                            </div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(4)</span>
                                                            </div>
                                                            <p class="review-o__text">Nhân viên tận tình</p>
                                                        </div>
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">Thuy Quynh</span>

                                                                <span class="review-o__date">
                                                                    14:33 Ngày
                                                                    29/11/2023
                                                                </span>
                                                            </div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(0)</span>
                                                            </div>
                                                            <p class="review-o__text">
                                                                Sẽ dắt pet quay lại Petamin
                                                            </p>
                                                        </div>
                                                        <div class="review-o__info u-s-m-b-8">

                                                            <span class="review-o__name">Lan Anh Nguyen</span>

                                                            <span class="review-o__date">
                                                                14:33 Ngày
                                                                04/11/2023
                                                            </span>
                                                        </div>
                                                        <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                            <span>(2)</span>
                                                        </div>
                                                        <p class="review-o__text">Petamin siêu cute</p>
                                                    </div>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <form class="pd-tab__rev-f2">
                                                <h2 class="u-s-m-b-15">Thêm đánh giá</h2>

                                                <span class="gl-text u-s-m-b-15">
                                                    Email sẽ được ẩn danh nên bạn
                                                    yên
                                                    tâm nhé.
                                                </span>
                                                <div class="u-s-m-b-30">
                                                    <div class="rev-f2__table-wrap gl-scroll">
                                                        <!--Thêm bảng đánh giá số sao-->
                                                        <!--Thêm bảng đánh giá số sao-->
                                                        <table class="rev-f2__table">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                            <span>(5)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                            <span>(4.5)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                            <span>(4)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                            <span>(3.5)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                            <span>(3)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                            <span>(2.5)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                            <span>(2)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                            <span>(1.5)</span>
                                                                        </div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="gl-rating-style-2">
                                                                            <i class="fas fa-star"></i>

                                                                            <span>(1)</span>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <!--Hàng tick chọn sao-->
                                                            <tbody>
                                                                <tr>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-5"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-5"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-4.5"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-4.5"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-4"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-4"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-3.5"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-3.5"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>
                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-3"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-3"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-2.5"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-2.5"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-2"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-2"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-1.5"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-1.5"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                    <td>

                                                                        <!--====== Radio Box ======-->
                                                                        <div class="radio-box">

                                                                            <input type="radio" id="star-1"
                                                                                   name="rating">
                                                                            <div class="radio-box__state radio-box__state--primary">

                                                                                <label class="radio-box__label"
                                                                                       for="star-1"></label>
                                                                            </div>
                                                                        </div>
                                                                        <!--====== End - Radio Box ======-->
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--Kết thúc bảng-->
                                                    </div>
                                                </div>
                                                <!--Gửi đánh giá-->
                                                <div class="rev-f2__group">
                                                    <div class="u-s-m-b-15">

                                                        <label class="gl-label" for="reviewer-text">
                                                            ĐÁNH GIÁ CỦA
                                                            BẠN
                                                        </label>
                                                        <textarea class="text-area text-area--primary-style"
                                                                  id="reviewer-text"></textarea>
                                                    </div>
                                                    <div>
                                                        <p class="u-s-m-b-30">

                                                            <label class="gl-label"
                                                                   for="reviewer-name">TÊN</label>

                                                            <input class="input-text input-text--primary-style"
                                                                   type="text" id="reviewer-name">
                                                        </p>
                                                        <p class="u-s-m-b-30">

                                                            <label class="gl-label"
                                                                   for="reviewer-email">EMAIL</label>

                                                            <input class="input-text input-text--primary-style"
                                                                   type="text" id="reviewer-email">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class="btn btn--e-brand-shadow" type="submit">
                                                        GỬI
                                                        ĐÁNH
                                                        GIÁ
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== Kết thúc tab đánh giá ======-->
                        <!--Bắt đầu cột Top dịch vụ bán chạy-->

                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="u-s-m-b-15" style="background-color: rgb(253, 253, 253);">
                                <h4 style="color:orangered;padding: 5px;text-align: center;">Dịch vụ hot</h4>
                                <!--Bán chạy 1-->
                                <div class="product-m">
                                    <div class="product-m__thumb">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                           href="@Url.Action("Trang_chi_tiet_dich_vu_03", "Home")">
                                            <img class="aspect__img"
                                                 src="https://media.discordapp.net/attachments/1184438786227175427/1185122154065444964/mua-dung-cu-huan-luyen-cho-o-dau-202206071320326488.png?ex=658e7604&is=657c0104&hm=dbc9ff1cad92df8245e8f9f31d07ebde3860f89f0e0a42cf5da94e1dd7251d59&=&format=webp&quality=lossless&width=981&height=570"
                                                 alt="tiêm chó">
                                        </a>
                                        <div class="product-m__content">
                                            <div class="product-m__name">
                                                <a href="@Url.Action("Trang_chi_tiet_dich_vu_03", "Home")">Huấn luyện chó Level 1</a>
                                            </div>
                                            <div class="product-m__price">170.000đ</div>
                                        </div>
                                        <div class="product-m__hover">
                                            <div class="product-m__wishlist">
                                                <a class="far fa-heart" href="#" data-tooltip="tooltip"
                                                   data-placement="top" title="Thêm vào yêu thích"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Bán chạy 2-->
                                <div class="product-m">
                                    <div class="product-m__thumb">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                           href="@Url.Action("Trang_chi_tiet_dich_vu_05", "Home")">

                                            <img class="aspect__img"
                                                 src="https://media.discordapp.net/attachments/937714098513272885/1184086093566582845/image.png?ex=658ab11b&is=65783c1b&hm=ee379152601ebbdaa18333a8696befe7a4d19b239bbd20131e65f551b23134dd&=&format=webp&quality=lossless&width=661&height=567"
                                                 alt="tắm chó">
                                        </a>

                                    </div>
                                    <div class="product-m__content">

                                        <div class="product-m__name">
                                            <a href="@Url.Action("Trang_chi_tiet_dich_vu_05", "Home")">Tắm gội cơ bản</a>
                                        </div>

                                        <div class="product-m__price">60.000đ</div>
                                        <div class="product-m__hover">
                                            <div class="product-m__wishlist">
                                                <a class="far fa-heart" href="#" data-tooltip="tooltip"
                                                   data-placement="top" title="Thêm vào yêu thích"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Bán chạy 3-->
                                <div class="product-m">
                                    <div class="product-m__thumb">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                           href="@Url.Action("Trang_chi_tiet_dich_vu_06", "Home")">

                                            <img class="aspect__img"
                                                 src="https://media.discordapp.net/attachments/937714098513272885/1184086131999002634/image.png?ex=658ab125&is=65783c25&hm=8d8ff0fae4b3745e8ba8249f83dffc2ba249ba0c3531a7aa1c5a6493b5fdf6c3&=&format=webp&quality=lossless&width=632&height=567"
                                                 alt="cắt móng chó">
                                        </a>
                                    </div>
                                    <div class="product-m__content">
                                        <div class="product-m__name">
                                            <a href="@Url.Action("Trang_chi_tiet_dich_vu_06", "Home")">Cắt tỉa móng cơ bản</a>
                                        </div>
                                        <div class="product-m__price">40.000đ</div>
                                        <div class="product-m__hover">
                                            <div class="product-m__wishlist">
                                                <a class="far fa-heart" href="#" data-tooltip="tooltip"
                                                   data-placement="top" title="Thêm vào yêu thích"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Bán chạy 4-->
                                <div class="product-m">
                                    <div class="product-m__thumb">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                           href="@Url.Action("Trang_dich_vu", "Home")">
                                            <img class="aspect__img"
                                                 src="https://media.discordapp.net/attachments/937714098513272885/1184086167877062656/image.png?ex=658ab12d&is=65783c2d&hm=2e72990e89c754de6cab25efeb9cf8174aa24413e19116ada0cc989f0bdc2352&=&format=webp&quality=lossless&width=642&height=567"
                                                 alt="cắt lông">
                                        </a>
                                        <div class="product-m__content">
                                            <div class="product-m__name">
                                                <a href="@Url.Action("Trang_dich_vu", "Home")">Cắt tỉa lông cơ bản</a>
                                            </div>
                                            <div class="product-m__price">80.000đ</div>
                                            <div class="product-m__hover">
                                                <div class="product-m__wishlist">
                                                    <a class="far fa-heart" href="#" data-tooltip="tooltip"
                                                       data-placement="top" title="Thêm vào yêu thích"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--xong bán chạy 4-->
                            </div>
                        </div>
                        <!--Xong dịch vụ bán chạy-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Kết thúc tab thông tin chi tiết dịch vụ ======-->
<div class="u-s-p-b-90">

    <!--====== Giới thiệu dịch vụ khác ======-->
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <a class="section__heading u-c-secondary u-s-m-b-12" href="@Url.Action("Trang_dich_vu", "Home")">DỊCH VỤ GỢI Ý</a>

                        <span class="section__span u-c-grey">Dịch vụ tương tự cho Pet cưng của bạn</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Kết thúc chữ giới thiệu ======-->
    <!--====== Nội dung dịch vụ giới thiệu ======-->
    <div class="section__content">
        <div class="container">
            <div class="slider-fouc">
                <div class="owl-carousel product-slider" data-item="4">
                    <!--Dịch vụ 1-->
                    <div class="u-s-m-b-30">
                        <div class="product-o product-o--hover-on">
                            <div class="product-o__wrap">

                                <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                   href="@Url.Action("Trang_chi_tiet_dich_vu", "Home")">

                                    <img class="aspect__img"
                                         src="https://media.discordapp.net/attachments/937714098513272885/1184088814306742344/image.png?ex=658ab3a4&is=65783ea4&hm=bdc8e1515ca3c37f85da50356c4b6110b110679834d6911ad49eee441d33bf98&=&format=webp&quality=lossless&width=612&height=575"
                                         alt="">
                                </a>
                                <div class="product-o__action-wrap">
                                    <ul class="product-o__action-list">
                                        <li>

                                            <a data-modal="modal" data-modal-id="#quick-look"
                                               data-tooltip="tooltip" data-placement="top"
                                               title="Xem nhanh"><i class="fas fa-search-plus"></i></a>
                                        </li>
                                        <li>

                                            <a data-modal="modal" data-modal-id="#add-to-cart"
                                               data-tooltip="tooltip" data-placement="top"
                                               title="Thêm vào giỏ"><i class="fas fa-plus-circle"></i></a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("Yeu_thich", "Home")" data-tooltip="tooltip" data-placement="top"
                                               title="Thêm vào yêu thích"><i class="fas fa-heart"></i></a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("index", "Home")" data-tooltip="tooltip" data-placement="top"
                                               title="Thông báo giảm giá">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="product-o__category">

                                <a href="@Url.Action("Trang_chi_tiet_dich_vu_04", "Home")">Khám bệnh</a>
                            </span>

                            <span class="product-o__name">

                                <a href="@Url.Action("Trang_chi_tiet_dich_vu_04", "Home")">Khám tổng quát cho thú cưng</a>
                            </span>
                            <div class="product-o__rating gl-rating-style">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                <span class="product-o__review">(52)</span>
                            </div>

                            <span class="product-o__price">140.000đ</span>
                        </div>
                    </div>
                    <!--Thông tin DV 2-->
                    <div class="u-s-m-b-30">
                        <div class="product-o product-o--hover-on">
                            <div class="product-o__wrap">

                                <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                   href="@Url.Action("Trang_chi_tiet_dich_vu_02", "Home")">

                                    <img class="aspect__img"
                                         src="https://media.discordapp.net/attachments/937714098513272885/1184089340431843379/image.png?ex=658ab422&is=65783f22&hm=ec85b42b36275dac1f7a95f3f4a88eeca18001474d2d6386f620247988331abf&=&format=webp&quality=lossless&width=642&height=567"
                                         alt="">
                                </a>
                                <div class="product-o__action-wrap">
                                    <ul class="product-o__action-list">
                                        <li>

                                            <a data-modal="modal" data-modal-id="#quick-look"
                                               data-tooltip="tooltip" data-placement="top"
                                               title="Xem nhanh"><i class="fas fa-search-plus"></i></a>
                                        </li>
                                        <li>

                                            <a data-modal="modal" data-modal-id="#add-to-cart"
                                               data-tooltip="tooltip" data-placement="top"
                                               title="Thêm vào giỏ"><i class="fas fa-plus-circle"></i></a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("Yeu_thich", "Home")" data-tooltip="tooltip" data-placement="top"
                                               title="Thêm vào yêu thích"><i class="fas fa-heart"></i></a>
                                        </li>
                                        <li>

                                            <a href="@Url.Action("Trang_dang_nhap", "Home")" data-tooltip="tooltip" data-placement="top"
                                               title="Thông báo giảm giá">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <span class="product-o__category">

                                <a href="@Url.Action("Trang_dich_vu_02", "Home")">Tiêm phòng</a>
                            </span>

                            <span class="product-o__name">

                                <a href="@Url.Action("Trang_chi_tiet_dich_vu_02", "Home")">Tiêm phòng 4 mũi cho mèo</a>
                            </span>
                            <div class="product-o__rating gl-rating-style">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                <span class="product-o__review">(293)</span>
                            </div>

                            <span class="product-o__price">150.000đ</span>
                        </div>
                    </div>
                    <!--Hết dịch vụ gợi ý-->
                </div>
            </div>
        </div>
    </div>

