@model Nhom8_Web.Models.SanPham

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <h3>Bạn có thật sự muốn xóa sản phẩm này không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoaiSanPhamObj.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoaiSanPhamObj.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSanPham)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaTien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaTien)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiamGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiamGia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaBan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaBan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </dt>

            <dd>
                @if (Model.HinhAnh != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.HinhAnh)"
                         style="width: 200px;" />
                }
                else
                {
                    <!-- Hiển thị hình ảnh rỗng hoặc thông báo khác khi HinhAnh là null -->
                    <span>No Image</span>
                }
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="custom-button" /> 
                <a href="@Url.Action("Index")" class="custom-button">Quay lại danh sách</a>
            </div>
        }
    </div>

</div>
